.card-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20rem;
  margin-top: 2rem;
  z-index: -2;
}

.card {
  width: 300px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  margin: 2%; 
}

.card:hover {
  transform: scale(1.05);
}

.card-img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
  border-bottom: 2px solid #f3f3f3;
}

.card-details {
  padding: 20px;
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #333;
}

.card-reviews {
  color: #f39c12;
  font-size: 1rem;
  margin-bottom: 10px;
}

.total-reviews {
  margin-left: 5px;
  color: #555;
}

.card-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-size: 1.2rem;
  color: #e74c3c;
}

.del {
  margin-right: 5px;
  color: #555;
}

.bag {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border-radius: 50%;
  display: inline-block;
}

.bag-icon {
  font-size: 1.2rem;
}

.card-details,
.card-reviews,
.card-price {
  transition: color 0.3s ease-in-out;
}
